/ColiProduct.class
/Customer.class
/Employee.class
/Person.class
/PersonContainer.class
/Product.class
/ProductContainer.class
/Sale.class
/SaleContainer.class
/SaleContainerTest.class
/SaleLineItem.class
/SimpleProduct.class
/UnitTest.class
